<footer>
    <div class=" container py-5">
        <div class="row text-center text-white">
            <div class="col-md-4">
                <h4>LOCATION</h4>
                <p>2215 John Daniel Drive</p>
                <p class="mt-2">Clark, MO 65243</p>
            </div>
            <div class="col-md-4">
                <h4>AROUND THE WEB</h4>
                <ul class="list-unstyled d-flex justify-content-center gap-2">
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-linkedin-in"></i></li>
                    <li><i class="fa-solid fa-globe"></i></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>ABOUT FREELANCER</h4>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
    <div class="second-footer text-center text-white">
        <p>Copyright © Your Website 2021</p>
    </div>
</footer>